/* PHP File Tree Default Theme

    By Cory LaViska (http://abeautifulsite.net/)
    modifed by matjazp and tpr

*/

.php-file-tree ul, .php-file-tree li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* for AdminThemeUikit begin */
#pw-content-body h3 {
    margin-bottom: 18px;
}

#pw-content-head-buttons {
    margin-bottom: 0;
}

.CodeMirror {
    font-size: 13px;
}

.InputfieldIsOffset {
    margin-top: 0;
    margin-bottom: 0;
}

.modal .uk-margin-large-bottom {
    margin-bottom: 10px!important;
    margin-top: 10px!important;    
}

h1.uk-margin-remove-top {
    font-size: 1.25rem;
    line-height: inherit;
}
/* for AdminThemeUikit end */

/* Hide all subfolders at startup */
.php-file-tree .pft-d:not(.pft-d-open) > ul {
    display: none;
}

.php-file-tree > ul > li.pft-f a:before {
    padding: 0 8px 0 6px;
}

.php-file-tree ul ul {
    margin-left: 20px;
}

.php-file-tree li {
    margin: 0;
    position: relative;
    user-select: none;
}

.php-file-tree a {
    color: #2f4248; /* neutral grey */
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #e4ecf0;
    padding: 7px 0;
    cursor: pointer;
}

.php-file-tree li,
.php-file-tree li a {
    transition: all .12s;
}

.php-file-tree .pft-d-open > a.active {
    opacity: 1;
    color: #9e255d /*!important;*/
}
.php-file-tree .pft-d > a {
    color: inherit;
}
.php-file-tree .pft-d a.active:after,
.php-file-tree .pft-d a:hover:after {
    content: attr(data-p);
    font-size: 13px;
    text-decoration: none;
    position: absolute;
    color: rgba(0, 0, 0, .25);
    font-weight: bold;
    margin-left: 20px;
    margin-top: 1px;
    right: 6px;
}
.php-file-tree .pft-d a.active:after {
    color: rgba(0, 0, 0, .4);
}

.php-file-tree a[href] {
    padding-left: 1px;
}
.php-file-tree a[href]:hover {
    text-decoration: underline;
}
.php-file-tree li a:hover {
    color: #db1174;
    background: rgba(0, 0, 0, 0.02);
}
.php-file-tree a:focus {
    outline: 0;
}

.php-file-tree .pft-d a:before {
    font-family: FontAwesome;
    content: '\f07b';
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
    min-width: 30px;
    margin-right: -4px;
    display: inline-block;
}
.php-file-tree .pft-d-open > a:before {
    /*content: '\f115'; non filled */
    content: '\f07c';
}

.php-file-tree .pft-f a:before {
    font-family: FontAwesome;
    content: '\f0f6';
    padding-right: 6px;
    font-size: 14px;
}

.pft-f > a {
    padding-left: 6px;
}

/* more filetype icons */
.php-file-tree .ext-txt a:before {
    font-family: FontAwesome;
    content: '\f0f6';
    padding-right: 5px;
    font-size: 14px;
}
.php-file-tree .ext-css a:before,
.php-file-tree .ext-htm a:before,
.php-file-tree .ext-html a:before {
    font-family: FontAwesome;
    content: '\f1c9';
    padding-right: 5px;
    font-size: 14px;
}
.php-file-tree .ext-jpg a:before,
.php-file-tree .ext-gif a:before,
.php-file-tree .ext-png a:before,
.php-file-tree .ext-bmp a:before {
    font-family: FontAwesome;
    content: '\f1c5';
    padding-right: 5px;
    font-size: 14px;
}

.php-file-tree .pft-f span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 0;
    cursor: pointer;
    opacity: .6;
}
.php-file-tree .pft-f span:hover {
    opacity: 1;
    color: #db1174;
    text-decoration: underline;
}
.php-file-tree .pft-f span:before {
    content: "#";
    /*font-family: FontAwesome;*/
    /*content: '\f1b2';*/
    /*padding-right: 5px;*/
    /*font-size: 14px;*/
}

/* perhaps different color...
.php-file-tree .ext-php a {color:#378000}
.php-file-tree .ext-php a:hover {color:#51b109}

.php-file-tree .ext-module a {color:#378000}
.php-file-tree .ext-module a:hover {color:#51b109}
*/

.err, #change {
    color: #e92003;
    font-size: 120%;
}

#change {
    padding-left: .2em;
}

.modal #head_button button {
    margin-top: -7px;
}

.modal #content {
    padding-bottom: 0 !important;
}

.modal #editForm {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.mfp-title {
    font-size: 75%;
    min-width: 260px;
}

.CodeMirror-lines {
  padding: 0 !important;
}

.CodeMirror {
	border: 1px solid #eee;
}
