/* PHP File Tree Default Theme

	By Cory LaViska (http://abeautifulsite.net/), modifed by matjazp

*/

.fe-file-tree {}
.php-file-tree {}

/* Hide all subfolders at startup */
.php-file-tree > ul ul {
	display: none;
}

.php-file-tree ul ul {
	margin-left: 15px;
}

.php-file-tree li {
	margin: 0;
	position: relative;
}

.php-file-tree a {
	color: #2f4248; /* neutral grey */
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #dee6ea;
	padding: .5em 0;
	cursor: pointer;
}

.php-file-tree .pft-f span {
	position: absolute;
	right: 0;
	top: 0;
	padding: .5em 0;
	cursor: pointer;
	opacity: .6;
}
.php-file-tree .pft-f span:hover {
	opacity: 1;
	color: #db1174;
}
.php-file-tree .pft-f span:before {
	content: "#";
}

/*
.php-file-tree .pft-file a {
	color: #000;
}
*/

.php-file-tree a:hover {
	color: #db1174;
	/* color: rgba(0,0,0,0.6); */
	background: rgba(0, 0, 0, 0.03);
}

.php-file-tree a:focus {
	outline: 0 !important;
}

/*
.php-file-tree li ul {
	border-top: 1px solid #dee6ea;
}
*/

.php-file-tree .pft-d a:before {
	font-family: FontAwesome;
	content: '\f07b';
	padding-right: 5px;
	padding-left: 5px;
	font-size: 14px;
	min-width: 28px;
	margin-right: -4px;
	display: inline-block;
}
.php-file-tree .pft-d-open > a:before {
	/*content: '\f115'; non filled */
	content: '\f07c';
}
/*
.php-file-tree .pft-d:hover {
	background: rgba(0, 0, 0, 0.03);
}
*/

.php-file-tree .pft-f a:before {
	font-family: FontAwesome;
	content: '\f0f6';
	padding-right: 6px;
	font-size: 14px;
}

.pft-f > a {
	padding-left: 6px;
}

/* more filetype icons... */
.php-file-tree .ext-txt a:before {
	font-family: FontAwesome;
	content: '\f0f6';
	padding-right: 5px;
	font-size: 14px;
}
.php-file-tree .ext-css a:before,
.php-file-tree .ext-htm a:before,
.php-file-tree .ext-html a:before
 {
	font-family: FontAwesome;
	content: '\f1c9';
	padding-right: 5px;
	font-size: 14px;
}

/* perhaps different color...
.php-file-tree .ext-php a {color:#378000}
.php-file-tree .ext-php a:hover {color:#51b109}

.php-file-tree .ext-module a {color:#378000}
.php-file-tree .ext-module a:hover {color:#51b109}
*/

.err, #change {
	color: #e92003;
	font-size: 120%;
}

#change {
	padding-left: .2em;
}

.modal #head_button button {
	margin-top: -7px;
}

.modal #content {
	padding-bottom: 0 !important;
}

.modal #editForm {
	margin-bottom: 0 !important;
}
